<h1><%= @user.name %>'s Network</h1>

<div style="display: flex; justify-content: space-between;">
  <div style="width: 45%;">
    <h2>Followers</h2>
    <% if @followers.any? %>
      <ul>
        <% @followers.each do |follower| %>
          <li><%= link_to follower.name, user_profile_path(follower) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>This user has no followers.</p>
    <% end %>
  </div>

  <div style="width: 45%;">
    <h2>Following</h2>
    <% if @following.any? %>
      <ul>
        <% @following.each do |followed| %>
          <li><%= link_to followed.name, user_profile_path(followed) %></li>
        <% end %>
      </ul>
    <% else %>
      <p>This user is not following anyone.</p>
    <% end %>
  </div>
</div>
